.jumbotron {
  min-height: 500px;
}

.list-item {
  font-size: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);

  cursor: pointer;

  &:hover {
    color: rgb(61, 59, 226);
  }
}
